{% extends "layout.html" %}
{% block content %}

  {% for cast in casts %}
    {% if cast.type == 'damage' %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{cast.spell.name}} - Lv. {{cast.level}}</a>
            <small class="text-muted">{{cast.spell.damage.base}} {{cast.spell.damage.type}} ({{cast.damage.expected}})</small>
          </div>
          <div class="article-title">
            <h2 class="mr-2">{{cast.roll}} to hit! </h2>
          </div>
          <p class="article-content">{{cast.damage}}</p>
        </div>
      </article>
    {% else %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{cast.spell.name}} - Lv. {{cast.level}}</a>
            <small class="text-muted">{{cast.spell.damage.base}} {{cast.spell.damage.type}} ({{cast.damage.expected}})</small>
          </div>
          <div class="article-title">
            <h2 class="mr-2">Make a {{cast.spell.damage.save}} {{cast.save_dc}} save! </h2>
          </div>
          <p class="article-content">{{cast.damage}}</p>
        </div>
      </article>
    {% endif %}
  {% endfor %}

{% endblock content %}
